{
  "branches": [
    { "name": "master" },
    { "name": "staging", "prerelease": "rc" }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "failComment": false
      }
    ]
  ]
}